.container {
  display: grid;
}

.header {
  font-size: 10vh;
  color: var(--dark);
  text-align: left;
  margin-bottom: 0.6em;
  overflow-y: hidden;
}

.info {
  display: flex;
  text-align: center;
}

.info > img {
  padding: 0;
  flex: 1;
  height: 100%;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
  text-align: center;
}

.text > p {
  font-family: "Nunito", sans-serif;
  font-size: 4vh;
  line-height: 2;
  margin-left: 4.5vh;
  width: inherit;
  color: var(--dark-light);
  margin-bottom: 1.2em;
}

@media (max-width: 800px) {
  .text {
    width: 20em;
    float: center;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .text > p {
    text-align: center;
    font-size: 2.25vh;
  }

  .info > img {
    max-width: 50%;
    height: auto;
    float: center;
  }
}

@media (max-width: 700px) {
  .info {
    display: flex;
    flex-direction: column;
  }

  .info > img {
    max-width: 50%;
  }
}
