.container {
  display: grid;
}

.header {
  font-size: 12vh;
  color: #011F4B;
  text-align: left;
  margin-bottom: 0.6em;
}

.info > img {
  padding-right: 4em;
  max-width: 100%;
  height: auto;
  float: right;
}

.text {
  width: 67%;
  float: left;
}

.text > p {
  font-family: 'Nunito', sans-serif;
  text-align: left;
  font-size: 4vh;
  line-height: 2;
  margin-left: 4.5vh;
  width: inherit;
  color: #03396C;
  margin-bottom: 1.2em;
}

