#contact-header {
  text-align: center;
  font-size: 4em;
  margin-top: 1.5em;
  width: 97%;
}

#contact-text {
  color: var(--dark-light);
  text-align: center;
  width: 150%;
  white-space: pre-line;
  margin: 0;
  display: block;
}

.inner > a:hover {
  opacity: 0.5;
}

.inner > a > svg {
  margin-right: 2em;
  margin-left: 1em;
  x: 50%;
  width: 3.5em;
  height: auto;
  z-index: 1;
  fill: var(--icon-fill);
}

.outer {
  overflow-x: hidden;
  height: auto;
}

.inner {
  position: absolute;
  width: 100%;
  margin-top: 9em;
  height: 1%;
}

button {
  padding: 0.35em;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 0.45em;
  border-color: var(--light);
  border-style: solid;
  border-width: 1.5px;
  margin-top: 4em;
  width: 7.5em;
  height: 3em;
}

button > a {
  text-align: center;
  font-size: 1.15em;
  text-decoration: none;
  color: var(--light);
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

button:hover {
  color: var(--background);
  background-color: var(--dark);
  border-color: var(--background);
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  border: none;
  bottom: 0;
  top: 0.25em;
  background-color: red;
  border-radius: 100px;
}

.footer > p {
  color: var(--light);
  background-color: var(--dark);
  padding: 1em;
  margin-top: 5em;
}

#social-images {
  z-index: 1;
}

@media (max-width: 1000px) {
  #contact-text {
    width: 100%;
  }
  #contact-text-container {
    width: 100%;
    font-size: 3vh;
  }

  #contact-header {
    text-align: center;
    font-size: 3.5em;
    margin-top: 1.5em;
    margin-left: 0.2em;
  }
}
