#contact-header {
  text-align: center;
  font-size: 4em;
  margin-top: 2em;
  width: 97%;
}

#contact-text {
  text-align: center;
  width: 150%;
  white-space: pre-line;
  margin: 0;
  display: block;
}

.inner > a:hover {
  opacity: 0.5;
}

.inner > a > img {
  margin-right: 2em;
  margin-left: 1em;
  x: 50%;
  width: 3.5em;
  z-index:1;
}

@media(max-width: 600px){
  #social-images {
    margin-top: 20em;
  }
}
.outer {
  position: relative;
}

.inner {
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0, 0);
  margin-top: 9em;
  height: 25%;
}

button {
  padding: .35em;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  border-radius: 0.45em;
  border-color: #6497B1;
  border-style: solid;
  border-width: 1.5px;
  margin-top: 4em;
  width: 7.5em;
  height: 3em;
}

button > a {
  text-align: center;
  font-size: 1.15em;
  text-decoration: none;
  color: #6497B1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

button:hover {
  color: #B3CDE0;
  background-color: #011F4B;
  border-color: #B3CDE0;
}

.footer {
  position: absolute;
  width: 100%;
  height: auto;
  border: none;
  bottom: 0;
  top: 30em;
  background-color: #011F4B;
  color: #011F4B;
}

.footer > p{
  color: #6497B1;
  background-color: #011F4B;
  padding: 1em;
  margin-top: 1em;
}

