* {
  margin: 0;
  text-align: left;
}

h1 {
  padding: 0;
  margin-top: 0.4em;
  margin-left: 4.5vh;
  font-size: 35vh;
  color: #011F4B;
  text-align: justify;
  line-height: 120%;
  font-family: 'Nunito', sans-serif;
}


@media(max-width: 800px){
  h1 {
    font-size: 15vh;
  }
}

@media(max-width: 700px){
  h1 {
    font-size: 11vh;
  }
}

@media(max-width: 600px){
  h1 {
    margin-top: 1em;
    font-size: 9.25vh;
  }
}