
.container {
  display: grid;
}

.header {
  font-size: 12vh;
  color: var(--dark);
  text-align: left;
  margin-bottom: 0.6em;
}

#background-image {
  filter: saturate(99%) brightness(12.5%) hue-rotate(215.68deg);
  width: 32.5em;
  height: 21em;
  object-fit: cover;
  border-radius: 1.25em;
  margin-bottom: 1.75em;
}

.scroll_wrap {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 4.5vh;
}

.project-item{
  position: relative;
  display: inline-block;
  width: 40em;
  height: 50%;
  margin-left: -3em;
  z-index: 0;
}

#title, #description {
  position: absolute;
  background: none;
}

#title {
  top: 17.5%;
  width: 100%;
  padding-left: 1.5em;
  font-size: 3.75em;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color: var(--background);
  text-align: left;
}

#description {
  font-size: 1.375em;
  color: var(--light);
  left: 10%;
  top: 47.5%;
  text-align: left;  
  padding-left: 1.5em;
  width: 100%;
}

@media(max-width: 700px){

  .header {
    font-size: 5vh;
    text-align: left;
  }

  .project-item{
    position: relative;
    display: inline-block;
    width: 20em;
    height: 50%;
    margin-left: -1.5em;
  }

  #background-image {
    filter: saturate(99%) brightness(12.5%) hue-rotate(215.68deg);
    width: 15em;
    height: 21em;
    object-fit: cover;
    border-radius: 1.25em;
    margin-bottom: 1.75em;
  }

  .scroll_wrap {
    margin-left: 2.5vh;
    margin-right: 0;
    padding-right: 0;
  }

  #title {
    padding: 0;
    margin-left: 0.875em;

    top: 17.5%;
    width: 5em;
    font-size: 3em;
    font-family: 'Nunito', sans-serif;
    font-weight: 590;
    color: var(--background);
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1em;
  }
  
  #description {
    font-size: 1.375em;
    color: var(--light);
    top: 47.5%;
    width: 11em;
    text-align: center;
    white-space: pre-wrap;   
  }
  
}