

.container {
  display: grid;
}

.header {
  font-size: 12vh;
  color: #011F4B;
  text-align: left;
  margin-bottom: 0.6em;
}

#background-image {
  filter: saturate(99%) brightness(30%) hue-rotate(215.68deg);
  width: 65em;
  height: 8.5em;
  object-fit: cover;
  border-radius: 1em;
  margin-bottom: 1.75em;
}

#project-item{
  position: relative;
}

#title, #description {
  position: absolute;
  background: none;
}

#title {
  top: 0.25em;
  left: 7.5em;
  width: 11em;
  font-size: 3.8em;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color: #B3CDE0;
  text-align: right;
}

#description {
  font-size: 20px;
  color: #6497B1;
  top: 55%;
  left: -12.5%;
  text-align: right;
  width: 100%;
}