* {
  overflow-y: hidden;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    float: right;
    width: 5%;
    height: 2.5%;
    left: 85%;
    top: 4%;
}
  
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--dark);
}


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
  margin: 0.53em;
  background-color: var(--dark);
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--light);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--dark);
  padding: 2em 1em 0;
  margin: 0;
  font-size: 1.15em;
  overflow-y: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #ffffff00;
}

/* Wrapper for item list */
.bm-item-list {
  background-color: var(--dark);
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background-color: rgb(216, 54, 54);
}

/* Individual item */
.bm-item {
  display: inline-block;
  background-color: var(--dark);
  color: black;
  font-size: 2em;
  margin-top: 1em;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
  overflow-y: hidden;
}


.bm-item > a {
  text-align: center;
  text-decoration: none;
  color: var(--light);
  background: transparent;
}
