@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');

:root {
  --background: #B3CDE0;
  --dark: #011F4B;
  --light: #6497B1;
  --dark-light: #03396C;
  --icon-fill: #010d1f;
}

* {
  text-align: center;
  background-color: var(--background);
  font-family: 'Nunito Sans', sans-serif;
  overflow: visible;
}

.App {
  text-align: center;
  background-color: var(--background);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Home {
  margin-bottom: 90em;
}

#contact-section {
  height: 100%;
  overflow: auto;
}

#sidebar-section {
  visibility: hidden;
}


@media (max-width: 600px){
  .nav {
    position: fixed;
    top: 0;
    width: 150%;
    height: 2.5%;
    visibility: hidden;
  }

  #sidebar-section {
    visibility: visible;
  }

  #home {
    visibility: hidden;
  }

  li > a {
  text-align: center;
  font-size: .5em;
  }

  li > button {
  padding:  1.05em;
  text-align: center;
  font-size: 1.15em;
  text-decoration: none;
  color: #6497B1;
  }
}
