@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');

* {
  text-align: center;
  background-color: #B3CDE0;
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  text-align: center;
  background-color: #B3CDE0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Home {
  margin-bottom: 90em;
}

.nav {
  overflow: hidden;
  background: #B3CDE0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5%;
  list-style-type: none;
  text-transform: lowercase;
  margin: 0em;
  padding: 1.25em;
}

#active {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);  
}
.nav > li {
  float: right;
  overflow: hidden;
  background-color: #333;
  background: transparent;
  overflow: hidden;
  background-color: #333;
  margin-right: 2em;
}

li > a {
  padding:  1.05em;
  text-align: center;
  font-size: 1.15em;
  text-decoration: none;
  color: #6497B1;
}

li > button {
  padding:  1.05em;
  text-align: center;
  font-size: 1.15em;
  text-decoration: none;
  color: #6497B1;
}


li > a:hover {
  color: #005b96;
  cursor: pointer;
}

#home {
  float: left;
  font-weight: 20px;
  font-size: 1.15em;
}

#home > a, a:hover{
  color: #03396C;
}

#action {
  border-radius: 0.5em;
  border-color: #6497B1;
  border-style: solid;
  border-width: 1.5px;
  margin-right: 4em;
}

#action > a:hover {
  color: #B3CDE0;
  background-color: #011F4B;
  border-color: #B3CDE0;
}
